[submodule "common/cmsis"]
	path = common/cmsis
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "common/cmsis-device-f4"]
	path = common/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4.git
[submodule "common/stm32-mw-freertos"]
	path = common/stm32-mw-freertos
	url = https://github.com/STMicroelectronics/stm32-mw-freertos.git
